{% extends 'blog/base.html' %}
{% block content %}
	<img class="rounded-circle article-img" src="{{object.author.profile.image.url }}">
	<p>By {{object.author}} on {{object.date_posted|date:'F d, Y'}}</p>
	{% if user == object.author %}
		<div>
			<a class="btn btn-secondary btn-sm" href="{% url 'post-update' object.id %}">Edit</a>
			<a class="btn btn-danger btn-sm" href="{% url 'post-delete' object.id %}">Delete</a>
		</div>
	{% endif %}
	<h1>{{object.title}}</h1>
	<p>{{object.content}}</p>
{% endblock content %}

